
/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

aside.widget {

}

#secondary {

	aside {

		a {
			color: darken($primary, 10%);

			&:hover {
				color: $primary;
			}
		}

	}
}