/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	//margin: 1.5em 0 0;
	margin: 1.5em 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* =Content
----------------------------------------------- */
.entry-title {
	font-size: 2em;
}

.entry-title a {
	text-decoration: none;
}

.entry-meta {
	font-size: 0.8em;
}

.entry-meta a {
	color: lighten($primary, 20%);
	text-decoration: none;
}

/* =Single
----------------------------------------------- */
.attachment-featured {
	
}

/* =Meta
----------------------------------------------- */
.entry-meta {
	color: #666;
}

.posted-on {
	margin-right: 1em;
}

.posted-on:before {
	content: '\f307';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 16px/1 'Genericons';
	vertical-align: top;
}

.byline:before {
	content: '\f304';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 16px/1 'Genericons';
	vertical-align: top;
}

