/* =Content
----------------------------------------------- */

.sticky {
}

.hentry {
	background: #f1f1f1;
	margin: 0 0 1.5em;
}

.byline,
.updated {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	padding: 1em;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* =Entry Header
----------------------------------------------- */

.entry-header {
	color: $secondary;

	.entry-title {
		padding: .4em;

		a {
			color: $secondary;
			text-decoration: none;

			&:hover {
				color: lighten($secondary, 20%);
			}
		}
	}
}




/* =Single
----------------------------------------------- */
.attachment-featured {

}

/* =Meta
----------------------------------------------- */

.entry-meta {
	background: $primary;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.4;
	padding: 1em;

	.entry-header & {
		color: lighten($primary, 24%);
		padding: 1em;
	}

	a {
		color: lighten($primary, 24%);

		&:hover {
			color: lighten($primary, 30%);
		}
	}
}

footer.entry-meta {
	background: $primary;
	color: darken($primary, 30%);
	margin: 0 0 4em 0;
}

.posted-on {
	margin-right: 1em;

	&:before {
		content: '\f307';
		display: inline-block;
		-webkit-font-smoothing: antialiased;
		font: normal 18px/1 'Genericons';
		padding: 0 .2em;
		vertical-align: top;
	}
}

.byline:before {
	content: '\f304';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 18px/1 'Genericons';
	padding: 0 .2em;
	vertical-align: top;
}

/* =Post Format Styling
----------------------------------------------- */
.entry-title:after {
	color: $secondary;
	display: inline-block;
	float: right;
	-webkit-font-smoothing: antialiased;
	font: normal 48px/1 'Genericons';
	vertical-align: top;

	.format-standard & {
		content: '\f308';
	}

	.format-gallery & {
		content: '\f473';
	}

	.format-image & {
		content: '\f102';
	}

	.format-quote & {
		content: '\f106';
	}

	.format-audio & {
		content: '\f109';
	}

	.format-video & {
		content: '\f104';
	}

	.format-link & {
		content: '\f107';
	}

	.format-status & {
		content: '\f100';
	}

	.format-chat & {
		content: '\f108';
	}
}