/* =Content
----------------------------------------------- */

.sticky {
}

.hentry {
	//background: #f1f1f1;
	background: #fff;
	@include border-radius(14px);
	margin: 0 0 1.5em;
	padding: 1em;
}

.byline,
.updated {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* =Entry Title
----------------------------------------------- */
.entry-title {
	font-size: 2em;

	a {
		text-decoration: none;
	}

}

/* =Single
----------------------------------------------- */
.attachment-featured {

}

/* =Meta
----------------------------------------------- */

.entry-meta {
	font-size: 0.8em;
	padding: .8em 0;

	.entry-header & {
		background: darken($primary, 20%);
		color: lighten($primary, 30%);
		margin: 1.2em -1.2em;
		padding: .8em;

			a {
				color: lighten($primary, 30%);
				text-decoration: none;
			}

			a:hover {
				color: lighten($primary, 40%);
			}
	}
}

footer.entry-meta {
	border-top: 2px solid darken($secondary, 20%);
	margin: 0 0 4em 0;
}

.posted-on {
	margin-right: 1em;
}

.posted-on:before {
	content: '\f307';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 16px/1 'Genericons';
	vertical-align: top;
}

.byline:before {
	content: '\f304';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 16px/1 'Genericons';
	vertical-align: top;
}

/* =Post Format Styling
----------------------------------------------- */
.entry-title:after {
	color: $primary;
	display: inline-block;
	float: right;
	-webkit-font-smoothing: antialiased;
	font: normal 42px/1 'Genericons';
	vertical-align: top;

	.format-standard & {
		content: '\f308';
	}

	.format-gallery & {
		content: '\f473';
	}

	.format-image & {
		content: '\f102';
	}

	.format-quote & {
		content: '\f106';
	}

	.format-audio & {
		content: '\f109';
	}

	.format-video & {
		content: '\f104';
	}

	.format-link & {
		content: '\f107';
	}

	.format-status & {
		content: '\f100';
	}

	.format-chat & {
		content: '\f108';
	}
}