/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* =Content
----------------------------------------------- */
.entry-title {
	font-size: 2em;
}

.entry-title a {
	text-decoration: none;
}

.entry-meta {
	font-size: 0.8em;
}

.entry-meta a {
	color: lighten($primary, 20%);
	text-decoration: none;
}

/* =Single
----------------------------------------------- */
.attachment-featured {
	
}

/* =Meta
----------------------------------------------- */
.entry-meta {
	background: $secondary;
	border-bottom: 2px solid darken($secondary, 10%);
	color: #666;
	padding: .8em;
}

footer.entry-meta {
	margin: 0 0 4em 0;
}

.posted-on {
	margin-right: 1em;
}

.posted-on:before {
	content: '\f307';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 16px/1 'Genericons';
	vertical-align: top;
}

.byline:before {
	content: '\f304';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 16px/1 'Genericons';
	vertical-align: top;
}

/* =Post Format Styling
----------------------------------------------- */
div.entry-meta:after {
	color: $primary;
	display: inline-block;
	float: right;
	-webkit-font-smoothing: antialiased;
	font: normal 28px/1 'Genericons';
	vertical-align: top;
	
	.format-standard & {
		content: '\f308';
	}
	
	.format-gallery & {
		content: '\f473';
	}
	
	.format-image & {
		content: '\f102';
	}
	
	.format-quote & {
		content: '\f106';
	}
	
	.format-audio & {
		content: '\f109';
	}

	.format-video & {
		content: '\f104';
	}

	.format-link & {
		content: '\f107';
	}
	
	.format-status & {
		content: '\f100';
	}
	
	.format-chat & {
		content: '\f108';
	}
}