/* =Frontpage featured content
----------------------------------------------- */
.featured-posts {
	//border-top: 2px solid lighten($primary, 20%);
	clear: both;

	img {
		display: block;
		width: 100%;
	}
}

/*
 * Captions based on http://css-tricks.com/slide-in-image-captions/
 */
figure {
	display: block;
	position: relative;
	float: left;
	overflow: hidden;
	width: 25%;
}

figcaption {
	position: absolute;
	background: $primary;
	color: #fff;
	padding: 10px 20px;
	opacity: 0;
	@include transition(all 0.3s ease-in-out);
}

figure:hover figcaption {
	opacity: 1;
}

figure:before {
	content: "\2192";
	position: absolute;
	font-weight: 800;
	background: $primary;
	//text-shadow: 0 0 5px #fff;
	color: $light;
	width: 24px;
	height: 24px;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	@include transition(all 0.3s ease-in-out);
}

figure:hover:before {
	opacity: 0;
}

.cap-left:before {
	bottom: 0px;
	left: 0px;
}

.cap-left figcaption {
	bottom: 0px;
	left: -30%;
}

.cap-left:hover figcaption {
	left: 0;
}