/* =Frontpage featured content
----------------------------------------------- */
.featured-posts {
	border-top: 2px solid lighten($primary, 20%);
	clear: both;
}

.featured-posts img {
	display: block;
}

/* 
 * Captions based on http://css-tricks.com/slide-in-image-captions/
 */
figure {
	display: block;
	position: relative;
	float: left;
	overflow: hidden;
	width: 25%;
}

figcaption {
	position: absolute;
	background: #000;
	background: rgba(0,0,0,0.75);
	color: #fff;
	padding: 10px 20px;
	opacity: 0;
	-webkit-transition: $transition-normal;
	-moz-transition: $transition-normal;
	-o-transition: $transition-normal;
}

figure:hover figcaption {
	opacity: 1;
}

figure:before {
	content: "\2192";
	position: absolute;
	font-weight: 800;
	background: #fff;
	background: rgba(255,255,255,0.75);
	text-shadow: 0 0 5px #fff;
	color: #000;
	width: 24px;
	height: 24px;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	-webkit-transition: $transition-normal;
	-moz-transition: $transition-normal;
	-o-transition: $transition-normal;
	opacity: 0.75;
}

figure:hover:before {
	opacity: 0;
	//width: 40%;
	//right: 10px;
	//text-align: right;
}

.cap-left:before { 
	bottom: 0px;
	left: 0px;
}

.cap-left figcaption {
	bottom: 0px;
	left: -30%;
}

.cap-left:hover figcaption {
	left: 0;
}