/* =Layout
----------------------------------------------- */

.hfeed {
	margin: 0 auto;
}

#content,
.wrapper,
.menu-categories-container ul  {
	margin: 0 auto;
	max-width: 1200px;
}

#masthead {
	background: $primary;
	//background: linear-gradient(color-stops($primary, darken($primary, 10%)));
	//background: darken($primary, 50%);
	padding: 12px 0;
	padding: 1.2rem 0 0 0;
}

/* /layouts/content-sidebar.css */
.content-area {
	float: left;
	margin: 0 -25% 0 0;
	width: 100%;
}

.site-main {
	margin: 0 27% 0 0;
	//padding: 1em;
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: 25%;
}

.site-footer {
	clear: both;
	width: 100%;
}

/* Masthead */
#masthead img {
	width: 100%;
}

.site-branding {
	float: left;
}

.main-navigation {
	float: right;
}

/* =Header
----------------------------------------------- */
.site-title {
	font-size: 24px;
	font-size: 2.4rem;

	a,
	a:visited,
	a:active {
		color: lighten($primary, 40%);
		text-decoration: none;
		:hover {
			color: lighten($primary, 10%);
		}
	}
}

h2.site-description {
	color: lighten($primary, 20%);
	font-size: 14px;
	font-size: 1.4rem;
}

/* =Footer
----------------------------------------------- */
footer#colophon {
	//background: darken($primary, 20%);
	background: $primary;
	//border-top: 6px solid $primary;
	padding: 1em 0;
}

.site-info {
	clear: both;
	color: darken($secondary, 30%);
	font-size: 12px;
	font-size: 1.2rem;
	max-width: 1200px;
	margin: 0 auto;

	a,
	a:visited,
	a:active {
		color: lighten($primary, 10%);
	}
	a:hover {
		color: lighten($primary, 20%);
	}
}