
/* =Menu
----------------------------------------------- */

/* Primary Menu */
.main-navigation {
	display: block;
	margin: 0 auto;
	padding: 18px 0 12px 0;
	text-align: center;
	//float: right;
	//max-width: 60%;
}

.main-navigation {

}

.main-navigation ul {
	list-style: none;
	margin: 0 auto;
	padding-left: 0;
	text-align: center;
}

.main-navigation li {
//	float: left;
	display: inline-block;
	position: relative;
}

.main-navigation a {
	color: lighten($primary, 20%);
	display: block;
	padding: 12px 12px;
	text-decoration: none;
	//transition: $transition-fast;
}

.main-navigation a:hover {
	background: lighten($secondary, 5%);
	border-bottom: 2px solid $primary;
	color: lighten($primary, 20%);
	padding: 12px 12px 10px 12px;
}

.main-navigation ul ul {
	@include box-shadow(0 3px 3px rgba(0, 0, 0, 0.2));
	background: #fff;
	display: none;
	opacity: 0;
	float: left;
	position: absolute;
		top: 2.5em;
		left: 0;
	z-index: 99999;
	//transition: $transition-fast;
}

.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul a:hover {
	border-bottom: none;
	padding: 12px;
}

.main-navigation ul ul li {
}

.main-navigation li:hover > a {
}

.main-navigation ul ul :hover > a {
}

.main-navigation ul ul a:hover {
}

.main-navigation ul li:hover > ul {
	display: block;
	opacity: 1;
}

.main-navigation li.current_page_item a,
.main-navigation li.current-menu-item a {
}

/* Small menu */
.menu-toggle {
	display: none;
	cursor: pointer;
}

@media screen and (max-width: 600px) {
	.menu-toggle {
		display: block;
	}
	
	.main-navigation.toggled .nav-menu {
		display: block
	}

	.main-navigation .nav-menu {
		display: none;
	}
}

/* Secondary Menu */
.sub-navigation {
	background: darken($primary, 6%);
	//border-bottom: 2px solid lighten(complement($primary), 20%);
	border-bottom: 2px solid darken($primary, 20%);
	border-top: 2px solid lighten(complement($primary), 20%);
	margin: 0 0 2em 0;
}

.menu-categories-container {
	clear: both;
	display: block;
	margin: 0 auto;
	max-width: 1200px;
}

.menu-categories-container ul {
	list-style: none;
	margin: 0 auto;
	padding-left: 0;
	overflow: hidden;
}

.menu-categories-container li {
	float: left;
	position: relative;
}

.menu-categories-container a {
	color: lighten($primary, 20%);
	display: block;
	//margin: 0 auto;
	padding: 12px 8px;
	text-decoration: none;
}

.menu-categories-container a:hover {
	color: lighten($primary, 30%);
}

.menu-categories-container ul ul {
	@include box-shadow(0 3px 3px rgba(0, 0, 0, 0.2));
	display: none;
	float: left;
	position: absolute;
		top: 1.5em;
		left: 0;
	z-index: 99999;
}

.menu-categories-container ul ul ul {
	left: 100%;
	top: 0;
}

.menu-categories-container ul ul a {
	width: 200px;
}

.menu-categories-container ul ul li {
}

.menu-categories-container li:hover > a {
}

.menu-categories-container ul ul :hover > a {
}

.menu-categories-container ul ul a:hover {
}

.menu-categories-container ul li:hover > ul {
	display: block;
}

.menu-categories-container li.current_page_item a,
.menu-categories-container li.current-menu-item a {
}


/* Mobile Menu */
.menu-toggle {
	background: $primary;
	border-radius: 4px;
	color: $secondary;
	margin: 0 auto;
	padding: 6px 18px;
	width: 90%;
}