
/* =Menu
----------------------------------------------- */

/* Primary Menu */
.main-navigation {
	display: block;
	margin: 0 auto;
	padding: 18px 0 12px 0;
	text-align: center;
	//float: right;
	//max-width: 60%;
}

.main-navigation {

}

.main-navigation ul {
	list-style: none;
	margin: 0 auto;
	padding-left: 0;
	text-align: center;
}

.main-navigation li {
	display: inline-block;
	position: relative;
}

.main-navigation a {
	color: lighten($primary, 20%);
	display: block;
	padding: 12px 12px;
	text-decoration: none;
}

.main-navigation a:hover,
.main-navigation li ul a:hover,
.main-navigation li.current-menu-item a {
	background: darken($primary, 35%);
	border-bottom: 2px solid $primary;
	color: lighten($primary, 20%);
	padding: 12px 12px 10px 12px;
}

.main-navigation li.current-menu-item ul a,
.main-navigation li ul a:hover {
	border-bottom: none;
}

.main-navigation ul ul {
	@include box-shadow(0 3px 3px rgba(0, 0, 0, 0.2));
	background: darken($primary, 35%);
	display: none;
	opacity: 0;
	float: left;
	position: absolute;
		top: 2.5em;
		left: 0;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}

.main-navigation ul ul a {
	border-bottom: none;
	padding: 12px;
	width: 200px;
}

.main-navigation ul ul a:hover {
	background: darken($primary, 15%);
}

.main-navigation ul ul li {
}

.main-navigation li:hover > a {
}

.main-navigation ul ul :hover > a {
}

.main-navigation ul ul a:hover {
}

.main-navigation ul li:hover > ul {
	display: block;
	opacity: 1;
}

.main-navigation li.current_page_item a,
.main-navigation li.current-menu-item a {
}

/* Small menu */
.menu-toggle {
	display: none;
	cursor: pointer;
}

@media screen and (max-width: 600px) {
	.menu-toggle {
		display: block;
	}
	
	.site-branding, 
	.main-navigation {
		float: none;
		text-align: center;
	}
	
	.main-navigation li {
		display: block;
	}
	
	.main-navigation.toggled .nav-menu {
		display: block
	}

	.main-navigation .nav-menu {
		display: none;
	}
}

/* Secondary Menu */
.sub-navigation {
	//background: $primary;
	background: linear-gradient(color-stops(#fff, #f2f2f2));
	border-bottom: 1px solid #ccc;
	margin: 0 0 2em 0;
}

.sub-navigation div {
	clear: both;
	display: block;
	margin: 0 auto;
	max-width: 1200px;
}

.sub-navigation div ul {
	list-style: none;
	margin: 0 auto;
	padding-left: 0;
	overflow: hidden;
}

.sub-navigation div li {
	float: left;
	position: relative;
}

.sub-navigation div a {
	color: lighten($primary, 30%);
	display: block;
	//margin: 0 auto;
	padding: 12px 8px;
	text-decoration: none;
}

.sub-navigation div a:hover {
	background: darken($primary, 25%);
	color: lighten($primary, 40%);
}

.sub-navigation div ul ul {
	@include box-shadow(0 3px 3px rgba(0, 0, 0, 0.2));
	display: none;
	float: left;
	position: absolute;
		top: 1.5em;
		left: 0;
	z-index: 99999;
}

.sub-navigation div ul ul ul {
	left: 100%;
	top: 0;
}

.sub-navigation div ul ul a {
	width: 200px;
}

.sub-navigation div ul ul li {
}

.sub-navigation div li:hover > a {
}

.sub-navigation div ul ul :hover > a {
}

.sub-navigation div ul ul a:hover {
}

.sub-navigation div ul li:hover > ul {
	display: block;
}

.sub-navigation div li.current_page_item a,
.sub-navigation div li.current-menu-item a {
}


/* Mobile Menu */
.menu-toggle {
	background: $primary;
	border-radius: 4px;
	color: $secondary;
	margin: 0 auto;
	padding: 6px 18px;
	width: 90%;
}