
/* =Menu
----------------------------------------------- */

/* Primary Menu */
.main-navigation {
	display: block;
	margin: 0 auto;
	padding: 18px 0 12px 0;
	text-align: center;
	
	ul {
		list-style: none;
		margin: 0 auto;
		padding-left: 0;
		text-align: center;
		
		li:hover > ul {
			display: block;
			opacity: 1;
		}
		
		ul {
			@include box-shadow(0 3px 3px rgba(0, 0, 0, 0.2));
			background: darken($primary, 35%);
			display: none;
			opacity: 0;
			float: left;
			position: absolute;
				top: 2.5em;
				left: 0;
			z-index: 99999;
			
			ul {
				left: 100%;
				top: 0;
			}
			
			a {
				border-bottom: none;
				padding: 12px;
				width: 200px;
			}
			
			li:hover {
				background: darken($primary, 15%);
			}
			
			:hover > a {
			
			}
			
			a:hover {
				
			}

		}
		
	}
	
	li {
		display: inline-block;
		position: relative;
	}
	
		a {
		color: lighten($primary, 40%);
		display: block;
		padding: 12px 12px;
		text-decoration: none;
	}
	
	li:hover,
	li.current-menu-item {
		background: darken($primary, 35%);
		border-bottom: 2px solid lighten($primary, 10%);
		color: lighten($primary, 20%);
	}
	
	li:hover a,
	li.current-menu-item a {
		padding: 12px 12px 10px 12px;
	}
	
	li.current-menu-item ul a,
	li:hover ul li {
		border-bottom: none;
	}
	
	li:hover > a {
	
	}
	
	li.current_page_item a,
	li.current-menu-item a {
	
	}
}

/* Small menu */
.menu-toggle {
	display: none;
	cursor: pointer;
}

@media screen and (max-width: 600px) {
	.menu-toggle {
		display: block;
	}
	
	.site-branding, 
	.main-navigation {
		float: none;
		text-align: center;
	}
	
	.main-navigation li {
		display: block;
	}
	
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation .nav-menu {
		display: none;
	}
}

/* Secondary Menu */
.sub-navigation {
	background: linear-gradient(color-stops(#fff, #f2f2f2));
	border-bottom: 1px solid #ccc;
	margin: 0 0 2em 0;
		div {
		clear: both;
		display: block;
		margin: 0 auto;
		max-width: 1200px;
		ul {
			list-style: none;
			margin: 0 auto;
			padding-left: 0;
			overflow: hidden;
		}
		li {
			float: left;
			position: relative;
			:hover > a {
			
			}
			:hover > ul {
				display: block;
			}
		}
		
		a {
			color: lighten($primary, 20%);
			display: block;
			padding: 12px 8px;
			text-decoration: none;
		}
		
		a:hover {
			background: darken($primary, 25%);
			color: lighten($primary, 40%);
		}
		
		ul ul {
			@include box-shadow(0 3px 3px rgba(0, 0, 0, 0.2));
			display: none;
			float: left;
			position: absolute;
				top: 1.5em;
				left: 0;
			z-index: 99999;
			li {
				
			}
			:hover > a {
			
			}
			a:hover {
			
			}
		}
		
		ul ul ul {
			left: 100%;
			top: 0;
			a {
				width: 200px;
			}
		}
		
		li.current_page_item a,
		li.current-menu-item a {
			
		}
	}
}

/* Mobile Menu */
.menu-toggle:before {
	content: '\f419';
	display: inline-block;
	padding: 2px 4px 0 0;
	-webkit-font-smoothing: antialiased;
	font: normal 18px/1 'Genericons';
	vertical-align: top;
}
.menu-toggle {
	background: darken($primary, 10%);
	color: $secondary;
	margin: 0 auto;
	padding: 6px 0;
}