/* =Navigation
----------------------------------------------- */

.site-main [class*="navigation"] {
	margin: 0 0 1.5em;
	overflow: hidden;
}

[class*="navigation"] .nav-previous a {
	@include button($primary);
	float: left;
	//width: 50%;

	&:hover {
		@include button-hover($primary);
	}
}

[class*="navigation"] .nav-next a {
	@include button($primary);
	float: right;
	text-align: right;
	//width: 50%;

	&:hover {
		@include button-hover($primary);
	}
}