/* =Responsive
----------------------------------------------- */
@media screen and ( max-width: 600px ) {

	/* Stack branding and main nav */
	.site-branding,
	.main-navigation {
		float: none;
		text-align: center;
	}

	/* Show small menu */
	.menu-toggle {
		display: block;
	}

	.main-navigation li {
		display: block;
	}

	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation .nav-menu {
		display: none;
	}

	/* Hide secondary nav */
	.sub-navigation {
		display: none;
	}

	/* Stack #primary and #secondary */
	#primary,
	#secondary {
		float: none;
	}

	.site-content .site-main {
		margin: 0;
	}

	.site-content .widget-area {
		width: 100%;

		aside {
			padding: 0 1em;
		}
	}

	#colophon {
		text-align: center;
	}

	#footer-widgets {
		display: none;
	}


}