/* =Variables
----------------------------------------------- */

/* Colors */
$primary: #336699; //#669acc;
$secondary: complement($primary); //#eca742;
$dark: #333;
$light: #ccc;
$neutral: #404040;

/* Fonts */
$sans: sans-serif;
$serif: serif;
$monospace: "Courier 10 Pitch", Courier, monospace;