/* =Variables
----------------------------------------------- */

/*
* Default Colors

$primary: #336699;
$secondary: #f1f1f1;
$dark: #333;
$light: #ccc;
$neutral: #404040;
*/

/*
 * Alternate Color scheme
 * https://kuler.adobe.com/purty-color-theme-3414654/
 *
$primary: #00A388;
$secondary: #79BD8F;
$dark: #333;
$light: #ccc;
$neutral: #404040;
*/

/*
 * Alternate Color scheme
 * https://kuler.adobe.com/vintage-brown-%26-blue-color-theme-3395661/
 */
$primary: #A0BFB3;
$secondary: #5A4D43;
$dark: #333;
$light: #F1F4DE;
$neutral: #404040;

/* Fonts */
$sans: sans-serif;
$serif: serif;
$monospace: "Courier 10 Pitch", Courier, monospace;
@font-face {
    font-family: 'Genericons';
    src: url('font/genericons-regular-webfont.eot');
    src: url('font/genericons-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/genericons-regular-webfont.woff') format('woff'),
         url('font/genericons-regular-webfont.ttf') format('truetype'),
         url('font/genericons-regular-webfont.svg#genericonsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}