/* =Variables
----------------------------------------------- */

/* Colors */
$primary: #336699;
//$secondary: #6f9d9f;
$secondary: #6699cc;
//$secondary: darken($primary, 20%);
$dark: #333;
$light: #ccc;
$neutral: #404040;

/* Fonts */
$sans: sans-serif;
$serif: serif;
$monospace: "Courier 10 Pitch", Courier, monospace;
@font-face {
    font-family: 'Genericons';
    src: url('font/genericons-regular-webfont.eot');
    src: url('font/genericons-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/genericons-regular-webfont.woff') format('woff'),
         url('font/genericons-regular-webfont.ttf') format('truetype'),
         url('font/genericons-regular-webfont.svg#genericonsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}