/* =Variables
----------------------------------------------- */

/*
 * Green/Brown color scheme
 * https://kuler.adobe.com/vintage-brown-%26-blue-color-theme-3395661/
 */
$primary: #A0BFB3;
$secondary: #5A4D43;
$dark: #333;
$light: #e7e2d9;
$neutral: #404040;
$highlight: #fff9c0;

/*
* Blue/Gray color scheme
*
$primary: #336699;
$secondary: #f1f1f1;
$dark: #333;
$light: #ccc;
$neutral: #404040;

/*
 * Blue/Dark Blue color scheme
 *
$primary: #669699;
$secondary: #242d36;
$dark: #333;
$light: #F1F4DE;
$neutral: #404040;

/*
 * Neon Green color scheme
 * https://kuler.adobe.com/purty-color-theme-3414654/
 *
$primary: #00A388;
$secondary: #79BD8F;
$dark: #333;
$light: #ccc;
$neutral: #404040;

/* Fonts */
$sans: "Trebuchet MS", Helvetica, sans-serif;
$serif: serif;
$monospace: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
@font-face {
    font-family: 'Genericons';
    src: url('font/genericons-regular-webfont.eot');
    src: url('font/genericons-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/genericons-regular-webfont.woff') format('woff'),
         url('font/genericons-regular-webfont.ttf') format('truetype'),
         url('font/genericons-regular-webfont.svg#genericonsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Buttons */
@mixin button($color) {
	background: $color;
	@include border-radius(4px);
	@include transition(all, 200ms);
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 2px solid darken($color, 20%);
	color: #fff ;
	line-height: 1;
	padding: .6em 1em .4em;
	//height: 1em;
}

@mixin button-hover($color) {
	background: darken($color, 20%);
	border-bottom: 2px solid darken($color, 40%);
}
