/* =Variables
----------------------------------------------- */

/* Colors */
$primary: #336699; //#669acc;
//$secondary: complement($primary);
//$secondary: #eca742;
//$secondary: #222;
$secondary: #eee; // #ddd
$dark: #333;
$light: #ccc;
$neutral: #404040;

/* Fonts */
$sans: sans-serif;
$serif: serif;
$monospace: "Courier 10 Pitch", Courier, monospace;

/* Transitions */
$transition-fast: all .2s ease-in-out;
$transition-normal: all .4s ease-in-out;
$transition-slow: all .8s ease-in-out;