/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-field {
	width: 96%;
}

.widget_search .search-submit {
	display: none;
}

/* Widget Defaults */
.widget-title {
	background: $primary;
	border-bottom: 2px solid lighten(complement($primary), 20%);
	color: lighten($secondary, 6%);
	padding: .5em 1em;
}

aside.widget ul {
	margin: 0;
}

aside.widget ul li {
	list-style: none;
}

aside.widget p,
aside.widget li,
aside.widget form {
	font-size: 14px;
	font-size: 1.4rem;
	margin: 0.5em;
}

aside.widget li {
	margin: 0.5em 0;
}

aside.widget li a {
	display: block;
	text-decoration: none;
}

/* =Sidebar Widgets
----------------------------------------------- */

#secondary .widget-title {
	//@include border-radius(6px 6px 0 0);
}

/* =Footer Widgets
----------------------------------------------- */

#footer-widgets {
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
}

#footer-widgets aside {
	float: left;
	padding: 1% 1% 1% 0;
	width: 24%;
}

#footer-widgets aside:last-child {
	padding: 1% 0;
	width: 25%;
}