/* =Widgets
----------------------------------------------- */

.widget {
	color: lighten($secondary, 10%);
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-field {
	padding: 2%;
	width: 96%;
}

.widget_search .search-submit {
	display: none;
}

/* Widget Defaults */
.widget-title {
	border-bottom: 2px solid darken($primary, 0%);
	color: darken($primary, 10%);
	font-size: 18px;
	font-size: 1.8rem;
	margin: .5em 0;
}

aside.widget ul {
	margin: 0;
}

aside.widget ul li {
	list-style: none;
}

aside.widget p,
aside.widget li,
aside.widget form {
	font-size: 14px;
	font-size: 1.4rem;
	margin: 0.5em;
}

aside.widget li {
	margin: 0.5em 0;
}

aside.widget li a {
	display: block;
	text-decoration: none;
}

/* =Sidebar Widgets
----------------------------------------------- */

#secondary .widget-title {
	//@include border-radius(6px 6px 0 0);
}

/* =Footer Widgets
----------------------------------------------- */

#footer-widgets {
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;

	 aside {
	 	color: darken($primary, 30%);
		float: left;
		padding: 1% 1% 1% 0;
		width: 24%;

		&:last-child {
			padding: 1% 0;
			width: 25%;
		}
	}

	.widget-title {
		border-bottom: 2px solid darken($primary, 10%);
		color: lighten($primary, 30%);
	}

	a,
	a:visited,
	a:active {
		color: lighten($primary, 20%);
	}

	a:hover {
		color: lighten($primary, 30%);
	}

	table {
		background: none;
	}

	th {
		color: darken($primary, 30%);
	}

	td,
	th {
		border: none;
	}

}